# 1. Ignoramos TODO el núcleo de WordPress
/*

# 2. NO ignorar (Permitir) estas carpetas especiales
!/wp-content/

# 3. Dentro de wp-content, ignoramos todo por defecto...
/wp-content/*

# 4. ...PERO permitimos explícitamente TU tema
!/wp-content/themes/
/wp-content/themes/*
!/wp-content/themes/NOMBRE_DE_TU_CARPETA/

# 5. Permitimos también la carpeta de uploads (imágenes)
!/wp-content/uploads/

# 6. Archivos importantes de sistema
!/.gitignore
!/README.md
!/sql_dumps/